* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#timer {
    font-size: 26px;
    color: #6c269e;
    font-weight: bold;
}

/* Main Quiz section */
.header {
    padding: 36px 24px 38px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 3px solid #777;
    min-height: 600px;
    background-color: #e1e1e2e0;


}

.header-main {
    color: #5c62fa;
    font-size: 36px;
}

.rules-para {
    font-size: 18px;
    line-height: 1.5;
    padding: 20px 36px;
    text-align: center;
}

.questions-para {
    font-size: 16px;
    color: #373636;
    text-decoration: double;
}

.button {

    font-size: 20px;
    padding: 12px 12px;
    background-color: #9027db;
    color: rgb(229, 246, 231);
    border-radius: 15px;
    cursor: pointer;

}

.btn-answer {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 8px 8px;
    color: #e6ecf5;
    background-color: #6c269e;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}


.high-scores-list {
    list-style: square;
    font-family: inherit;
    font-size: 18px;
    color: #373636;
    padding-bottom: 18px;
    
}

.hideContainers {
    display: none;
}

/* High Scores Section */